#%RAML 0.8
  title: Group API
  baseUri: https://api.covisintlabs.com/group/v1
  protocols: [HTTPS]
  
  schemas:
    - group: |
        {
          "id" : "http://api.covisint.com/schema/group",
          "$schema" : "http://json-schema.org/draft-04/schema",
          "type" : "object",
          "description" : "Schema representing a group, a container of resources.",
          "extends" : {
                "$ref" : "http://api.covisint.com/schema/realmScopedResource#"
          },
          "properties" : {            
            "name" : {
              "type" : "array",
              "description": "Internationalized group name. Language code must be a valid 2-character ISO 639 language code.",
              "required": true,
              "minItems": 1,
              "items": {
                "type": "object",
                "properties": {
                  "lang": { "type": "string", "maxLength": 10 },
                  "value": { "type": "string", "maxLength": 2000 }
                }
              }
            },
            "description" : {
              "type" : "array",
              "description": "Internationalized group description. Language code must be a valid 2-character ISO 639 language code.",
              "required": true,
              "minItems": 1,
              "items": {
                "type": "object",
                "properties": {
                  "lang": { "type": "string", "maxLength": 10 },
                  "value": { "type": "string", "maxLength": 2000 }
                }
              }
            },
            "owner": {
              "description": "The group owner.",
              "$ref": "http://api.covisint.com/schema/resourceReference#",
              "required":true
            },
            "entitlements": {
              "description": "The group's entitlements if any, returned in the response, depending upon the supplied media type. Group's entitlements cannot be created as part of group creation.",
              "$ref": "http://api.covisint.com/schema/group.entitlements#",
              "required": false
            }
          }
        }

    - group.entitlements: |
        {
          "id" : "http://api.covisint.com/schema/group.entitlements",
          "$schema" : "http://json-schema.org/draft-04/schema",
          "description" : "Entitlements associated with the group.",
          "type" : "array",
          "items" :  { 
            "$ref": "http://api.covisint.com/schema/group.entitlement#"
          }
        }
        
    - group.entitlement: |
        {
          "id" : "http://api.covisint.com/schema/group.entitlement",
          "$schema" : "http://json-schema.org/draft-04/schema",
          "description" : "A single entitlement.",
          "extends" : {
            "$ref" : "http://api.covisint.com/schema/resource#"
          },
          "properties": {
            "name": {
              "type": "string",
              "maxLength": "128",
              "required": true
            }
          }
        }
        
    - group.membership: |
        {
          "id" : "http://api.covisint.com/schema/group.membership",
          "$schema" : "http://json-schema.org/draft-04/schema",
          "description" : "Member of a group.",
          "extends" : {
            "$ref" : "http://api.covisint.com/schema/resource#"
          },
          "properties" : {            
            "member": { 
              "description": "The resource that belongs to the group.",
              "$ref": "http://api.covisint.com/schema/resourceReference#",
              "required":true
            },
            "anyOf": [
              {
                "group": {
                  "description": "A reference to the group that member belongs to.",
                  "$ref": "http://api.covisint.com/schema/resourceReference#",
                  "required":true
                }
              },
              {
                "group": {
                  "description": "The group that member belongs to.",
                  "$ref": "http://api.covisint.com/schema/group#",
                  "required":true
                }
              }
            ]            
          }
        }        

  traits:
    - secured:
        usage: Apply this to any method that needs to be secured
        description: Requests requires authentication
        headers:
          Authorization:
            description: Access token that is obtained from the api authentication service
            pattern: ^Bearer .*$
            required: true
        responses:
          401:
            description: Unauthorized request
            # substatus codes and error messages are mentioned below:
            # framework:security
    - getResponse:
        responses:
          404: &404
            description: The URI requested is invalid or the resource requested does not exist.
            # substatus codes and error messages are mentioned below:
              # (If a resource id is a URI parameter) framework:resource:missing - A resource with the following ID was not found: {resourceId}
              # No message for an invalid URI
            body: 
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
                        
          406: &406
            description: Unable to produce content of specified 'Accept' media type
            # substatus codes and error messages are mentioned below:
              # framework:request:unsupported:mediatype - The server is unable to produce content of type {acceptMediaType}
            body: 
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          
          500: &500
            description: An unknown server error occurred
            # substatus codes and error messages are mentioned below:
              # framework:unknown
            body:      
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema                  
    
    -  postResponse:
        responses:
          406?: *406
          415?: &415
            description: Unable to consume content of specified 'Content-Type' media type
            # substatus codes and error messages are mentioned below:
              # framework:request:unsupported:mediatype - The server is unable to consume content of type {contentMediaType}
            body:      
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema   
                   
          500: *500
      
    -  deleteResponse:
        responses:
          404: *404
          500: *500
    
    -  putResponse:
        responses:
          406: *406
          409:
            description: There was a problem with the client's request
            # substatus codes and error messages are mentioned below:
            # framework:resource:conflict
            # framework:resource:conflict:id - The ID of the resource in the request, {requestedId}, does not match the ID of the given resource, {resourceId}
            # framework:resource:conflict:version - The version of the provided resource, {requestVersion}, does not match the current version of the resource, {latestVersion}
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          415: *415
          500: *500           
  /groups:
    is: [secured]
    description: Collection endpoint for group resources
    get:
      is: [getResponse]
      description: Search groups.
      headers:
        Accept:
          description: Media type.
          example: application/vnd.com.covisint.platform.group.v1+json;includeEntitlements
          type: string
          required: true
      queryParameters:
        name: 
          description: Retrieve only groups with the specified name.  The search is case-insensitve.  Multiple parameters are supported and the search results will be a union.
          type: string
          required: false
        description: 
          description: Retrieve only groups with the specified description.  The search is case-insensitve.  Multiple parameters are supported and the search results will be a union.
          type: string
          required: false                 
      responses:
        200:
          description: All groups that satisfy the query parameters were successfully retrieved (response collection may be empty).
          body:
            application/vnd.com.covisint.platform.group.v1+json;includeEntitlements:
              schema: group
        400:
          description: There was a problem with the client's request
          # substatus codes and error messages are mentioned below:
          # framework:request
          # framework:request:io
          # framework:request:io:read - 
          # framework:request:io:read:parsing
          # framework:request:io:write
          # framework:request:header:missing - Missing request header: {headerName}
          # framework:request:param:missing - Missing request parameter: {queryParameterName}
          # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
          # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
          body:
            application/vnd.com.covisint.error.v1+json:
              schema: errorResponseSchema
              
    post:
      is: [postResponse]
      description: Creates a new group.
      headers:
        Content-type:
          description: Media type.
          example: application/vnd.com.covisint.platform.group.v1+json.
          type: string
          required: true
        Accept:
          description: Media type.
          example: application/vnd.com.covisint.platform.group.v1+json.
          type: string
          required: true
      body:
        application/vnd.com.covisint.platform.group.v1+json:
          schema: group 
      responses:
        201:
          description: A new group was created and is returned in the body.
          body:
            application/vnd.com.covisint.platform.group.v1+json:
              schema: group
        400:
          description: There was a problem with the client's request
          # substatus codes and error messages are mentioned below:
          # framework:request
          # framework:request:io
          # framework:request:io:read - 
          # framework:request:io:read:parsing
          # framework:request:io:write
          # framework:request:header:missing - Missing request header: {headerName}
          # framework:request:param:missing - Missing request parameter: {queryParameterName}
          # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
          # framework:request:data:invalid - The following information should not be part of the resource: {resourceFieldName}
          # framework:resource:data:illegal - The following information was illegal from the resource:  {fieldSpecificError(s)}
          # group.invalid.iso.language.code - The following language codes are invalid: {languageCode(s)}
          # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
          body:
            application/vnd.com.covisint.error.v1+json:
              schema: errorResponseSchema
      
    /{id}:
      description: Endpoint for a specific group.
      uriParameters:
        id:
          displayName: unique group identifier
          description: id of the group
          type: string
          maxLength: 36
          required: true
      is: [secured]      
      get:
        is: [getResponse]
        description: Returns the group by its unique id.
        headers:
            Accept:
              description: Media type.
              example: application/vnd.com.covisint.platform.group.v1+json;includeEntitlements
              type: string
              required: true
        responses:
          200:
            description: The group was successfully retrieved.
            body:
              application/vnd.com.covisint.platform.group.v1+json;includeEntitlements:
                schema: group
          400:
            description: There was a problem with the client's request
            # substatus codes are mentioned below:
            # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
                  
          404:
            description: Resource not found.
            # substatus codes and error messages are mentioned below:
            # framework:resource:missing - A resource with the following ID was not found: {resourceId}
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
                  
      put:
        is: [putResponse]
        description: Updates an existing group.
        headers:
          Accept:
            description: Media type.
            example: application/vnd.com.covisint.platform.group.v1+json.
            type: string
            required: true
          Content-type:
            description: Media type.
            example: application/vnd.com.covisint.platform.group.v1+json.
            type: string
            required: true
        body:
          application/vnd.com.covisint.platform.group.v1+json:
            schema: group
        responses:
          200:
            description: The group was successfully updated.
            body:
              application/vnd.com.covisint.platform.group.v1+json:
                schema: group
                
          400:
            description: There was a problem with the client's request
            # substatus codes and error messages are mentioned below:
            # framework:request
            # framework:request:io
            # framework:request:io:read - 
            # framework:request:io:read:parsing
            # framework:request:io:write
            # framework:request:header:missing - Missing request header: {headerName}
            # framework:request:param:missing - Missing request parameter: {queryParameterName}
            # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
            # group.invalid.iso.language.code - The following language codes are invalid: {languageCode(s)}
            # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          409:
            description: There was a problem with the client's request
            # framework:resource:conflict
            # framework:resource:conflict:id - The ID of the resource in the request, {requestedId}, does not match the ID of the given resource, {resourceId}
            # framework:resource:conflict:version - The version of the provided resource, {requestVersion}, does not match the current version of the resource, {latestVersion}
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
      delete:
        is: [deleteResponse]
        description: Deletes a group.
        headers:
        responses:
          204:
            description: The group was successfully deleted.
                            
          404:
            description: Resource not found.
            # substatus codes and error messages are mentioned below:
            # framework:resource:missing - A resource with the following ID was not found: {resourceId}          
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          400:
            description: There was a problem with the client's request
            # substatus codes are mentioned below:
            # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
                 
      /entitlements:
        is: [secured]
        get:
          is: [getResponse]
          description: Returns the entitlements associated with the group.
          headers:
            Accept:
              description: Media type.
              example: application/vnd.com.covisint.platform.group.entitlement.v1+json
              type: string
              required: true
          queryParameters:
            id:
              description: Retrieve only the group entitlement for the specified id, multiple parameters are supported.
              type: string
              required: false
          responses:
            200:
              description: The entitlements were successfully retrieved.  This will be an empty array if no entitlements exist.
              body:
                application/vnd.com.covisint.platform.group.entitlement.v1+json:
                  schema: group.entitlements
            400:
              description: There was a problem with the client's request
              # substatus codes are mentioned below:
              # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
        post: 
          is: [postResponse] 
          description: Adds a new entitlement to this group.
          headers:
            Accept:
              description: Media type.
              example: application/vnd.com.covisint.platform.group.entitlement.v1+json
              type: string
              required: true
            Content-type:
              description: Media type.
              example: application/vnd.com.covisint.platform.group.entitlement.v1+json
              type: string
              required: true
          body:
            application/vnd.com.covisint.platform.group.entitlement.v1+json:
              schema: group.entitlement
          responses:
            201: 
              description: The entitlement was successfully created.
              body:
                application/vnd.com.covisint.platform.group.entitlement.v1+json:
                  schema: group.entitlement
            400:
              description: There was a problem with the client's request
              # substatus codes and error messages are mentioned below:
              # framework:request
              # framework:request:io
              # framework:request:io:read - 
              # framework:request:io:read:parsing
              # framework:request:io:write
              # framework:request:header:missing - Missing request header: {headerName}
              # framework:request:param:missing - Missing request parameter: {queryParameterName}
              # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
              # framework:request:data:invalid - The following information should not be part of the resource: {resourceFieldName}
              # framework:resource:data:illegal - The following information was illegal from the resource:  {fieldSpecificError(s)}
              # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
              body:
                application/vnd.com.covisint.error.v1+json:
                  schema: errorResponseSchema
        /{id}:
          description: Endpoint for a specific group entitlement.
          uriParameters:
            id:
              displayName: unique entitlement identifier
              description: id of the group entitlements
              type: string
              maxLength: 36
              required: true
          is: [secured]         
          get:
            is: [getResponse]
            description: Returns the entitlement by its unique id.
            headers:
              Accept:
                description: Media type.
                example: application/vnd.com.covisint.platform.group.entitlement.v1+json
                type: string
                required: true
            responses:
              200:
                description: The group entitlement was successfully retrieved.
                body:
                  application/vnd.com.covisint.platform.group.entitlement.v1+json:
                    schema: group.entitlement
                      
              404:
                description: Resource not found.
                # substatus codes and error messages are mentioned below:
                # framework:resource:missing - A resource with the following ID was not found: {resourceId}
                body:
                  application/vnd.com.covisint.error.v1+json:
                    schema: errorResponseSchema
              400:
                description: There was a problem with the client's request
                # substatus codes are mentioned below:
                # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
                      
          delete:
            is: [deleteResponse]
            description: Deletes a single group entitlement.
            headers:
            responses:
              204:
                description: The entitlement was successfully deleted.
                                
              404:
                description: Resource not found.          
                # substatus codes and error messages are mentioned below:
                # framework:resource:missing - A resource with the following ID was not found: {resourceId}
                body:
                  application/vnd.com.covisint.error.v1+json:
                    schema: errorResponseSchema
              400:
                description: There was a problem with the client's request
                # substatus codes are mentioned below:
                # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]      
      /memberships:
        is: [secured]
        post:
          is: [postResponse]
          description: Creates a new group membership.
          headers:
            Accept:
              description: Media type.
              example: application/vnd.com.covisint.platform.group.membership.v1+json.
              type: string
              required: true
            Content-type:
              description: Media type.
              example: application/vnd.com.covisint.platform.group.membership.v1+json.
              type: string
              required: true
          body:
            application/vnd.com.covisint.platform.group.membership.v1+json:
              schema: group.membership
          responses:
            201:
              description: A new group membership was created for the group and is returned in the body.
              body:
                application/vnd.com.covisint.platform.group.membership.v1+json:
                  schema: group.membership

            400:
              description: There was a problem with the client's request
              # substatus codes and error messages are mentioned below:
              # framework:request
              # framework:request:io
              # framework:request:io:read - 
              # framework:request:io:read:parsing
              # framework:request:io:write
              # framework:request:header:missing - Missing request header: {headerName}
              # framework:request:param:missing - Missing request parameter: {queryParameterName}
              # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
              # framework:request:data:invalid - The following information should not be part of the resource: {resourceFieldName}
              # framework:resource:data:illegal - The following information was illegal from the resource:  {fieldSpecificError(s)}
              # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
              body:
                application/vnd.com.covisint.error.v1+json:
                  schema: errorResponseSchema
            404:
              description: Resource not found.
              # substatus codes and error messages are mentioned below:
              # framework:resource:missing - A resource with the following ID was not found: {resourceId}          
              body:
                application/vnd.com.covisint.error.v1+json:
                  schema: errorResponseSchema        
                  
        /{id}:
          description: Endpoint for a specific membership in the group.
          uriParameters:
            id:
              displayName: unique resource identifier
              description: id of the membership.
              type: string
              maxLength: 50
              required: true          
          is: [secured]            
          get:
            is: [getResponse]
            description: Returns a group membership resource by its unique id.
            headers:                  
              Accept:
                description: Media type.
                example: application/vnd.com.covisint.platform.group.membership.v1+json;includeGroupAndEntitlements;includeGroup
                type: string
                required: true
            responses:
              200:
                description: The group membership was successfully retrieved.
                body:
                  application/vnd.com.covisint.platform.group.membership.v1+json;includeGroupAndEntitlements;includeGroup:
                      schema: group.membership  
              404:
                description: Resource not found.
                # substatus codes and error messages are mentioned below:
                # framework:resource:missing - A resource with the following ID was not found: {resourceId}
                body:
                    application/vnd.com.covisint.error.v1+json:
                      schema: errorResponseSchema
              400:
                description: There was a problem with the client's request
                # substatus codes are mentioned below:
                # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]                                    
          delete:
            is: [deleteResponse]
            description: Deletes a group membership from a group.
            headers:                  
            responses:
              204:
                description: The membership was successfully deleted.
              404:
                description: Resource not found
                # substatus codes and error messages are mentioned below:
                # framework:resource:missing - A resource with the following ID was not found: {resourceId}
                body:
                    application/vnd.com.covisint.error.v1+json:
                      schema: errorResponseSchema
              400:
                description: There was a problem with the client's request
                # substatus codes are mentioned below:
                # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]                    
  /memberships:
    is: [secured]     
    get:
      is: [getResponse]
      description: Search for group memberships.
      headers:                  
        Accept:
          description: Media type.
          example: application/vnd.com.covisint.platform.group.membership.v1+json;includeGroupAndEntitlements;includeGroup
          type: string
          required: true
      queryParameters:
        member.realmId: 
          description: Retrieve only memberships having the supplied member realm. Multiple parameters are not supported.  
          type: string
          required: true
        member.id: 
          description: Retrieve only memberships having the supplied member id.  Multiple parameters are not supported.
          type: string
          required: true
        member.type: 
          description: Retrieve only memberships having the supplied member type. Multiple parameters are not supported.
          type: string
          required: true
        group.owner.id:
          description: Retrieve only memberships associated with group having the supplied owner id. Multiple parameters are not supported. 
          type: string
          required: false
        group.owner.type:
          description: Retrieve only memberships associated with group having the supplied owner type. Multiple parameters are not supported. 
          type: string
          required: false
        group.owner.realmId:
          description: Retrieve only memberships associated with group having the supplied owner realm. Multiple parameters are not supported. 
          type: string
          required: false             
      responses:
        200:
          description: The memberships were successfully retrieved.  This may be an empty array.
          body:
            application/vnd.com.covisint.platform.group.memberships.v1+json;includeGroupAndEntitlements;includeGroup:
              schema: group.membership                  
        400:
              description: There was a problem with the client's request
              # substatus codes and error messages are mentioned below:
              # framework:request
              # framework:request:io
              # framework:request:io:read - 
              # framework:request:io:read:parsing
              # framework:request:io:write
              # framework:request:header:missing - Missing request header: {headerName}
              # framework:request:param:missing - Missing request parameter: {queryParameterName}
              # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
              # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
              body:
                application/vnd.com.covisint.error.v1+json:
                  schema: errorResponseSchema
              

