#%RAML 0.8
title: OAuth API
version: 2
baseUri: https://api.covisintlabs.com/oauth/{version}
protocols: [HTTPS]
schemas:
  - subject: |
      {
        "id" : "http://api.covisint.com/schema/subject",
        "$schema" : "http://json-schema.org/draft-04/schema",
        "type" : "object",
        "description" : "Schema representing a subject.",
        "extends" : {
              "$ref" : "http://api.covisint.com/schema/realmScopedResource#"
        },
        "properties" : {
          "tokenLifeTime" : {
            "type" : "number",
            "description": "Life time of a token. Default 0"
          }    
        }
      }
  - grantType: |
      {
        "id" : "http://api.covisint.com/schema/grantType",
        "$schema" : "http://json-schema.org/draft-04/schema",
        "type" : "object",
        "description" : "Schema representing a grant type.",
        "extends" : {
              "$ref" : "http://api.covisint.com/schema/realmScopedResource#"
        },
        "properties" : {
          "type": {
            "type" : "string",
            "maxLength": "64",
            "description": "Grant type value(client_credentials or certificate).",
            "required": true
          },
          "subjectId": {
            "type" : "string",
            "maxLength": "64",
            "description": "The subject.",
            "required":true
          },
          "applicationId": {
            "type" : "string",
            "maxLength": "64",
            "description": "The application id of subject",
            "required":true
          }
        }
      }
  - clientSecretGrantType: |
      {
        "id" : "http://api.covisint.com/schema/clientSecretGrantType",
        "$schema" : "http://json-schema.org/draft-04/schema",
        "type" : "object",
        "description" : "Schema representing a client secret grant type.",
        "extends" : {
              "$ref" : "http://api.covisint.com/schema/grantType#"
        },
        "properties" : {
          "clientSecret" : {
            "type" : "string",
            "maxLength": "128",
            "description": "Client secret.",
            "required": true
          }
        }
      }
  - certificateGrantType: |
      {
        "id" : "http://api.covisint.com/schema/certificateGrantType",
        "$schema" : "http://json-schema.org/draft-04/schema",
        "type" : "object",
        "description" : "Schema representing a client secret grant type.",
        "extends" : {
              "$ref" : "http://api.covisint.com/schema/grantType#"
        },
        "properties" : {
          "publicKey" : {
            "type" : "string",
            "maxLength": "2048",
            "description": "Public key for the resource.",
            "required": true
          }
        }
      }
  - token: |
      {
        "id" : "http://api.covisint.com/schema/token",
        "$schema" : "http://json-schema.org/draft-04/schema",
        "type" : "object",
        "description" : "Schema representing a token for a subject grant type.",
        "extends" : {
              "$ref" : "http://api.covisint.com/schema/abstracctResource#"
        },
        "properties" : {
          "id" : {
          "required": false
          },
          "version" : {
          "required": false
          },
          "creator" : {
          "required": false
          },
          "creatorApplicationId" : {
          "required": false
          },
          "access_token" : {
            "type" : "string",
            "description": "Access token string.",
            "required": true
          },
          "expires_in" : {
            "type" : "string",
            "description": "Access token life time.",
            "required": true
          },
          "token_type" : {
            "type" : "string",
            "description": "Access token type. Only Bearer type is support at the moment.",
            "required": true
          }
        }
      }
traits:
  - secured:
      usage: Apply this to any method that needs to be secured
      description: Requests requires authentication
      headers:
        Authorization:
          description: Access token that is obtained from the api authentication service
          pattern: ^Bearer .*$
          required: true
      responses:
        401:
          description: Unauthorized request
  - getResponse:
        responses:
          404: &404
            description: The URI requested is invalid or the resource requested does not exist.
            # substatus codes and error messages are mentioned below:
              # (If a resource id is a URI parameter) framework:resource:missing - A resource with the following ID was not found: {resourceId}
              # No message for an invalid URI
            body: 
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
                        
          406: &406
            description: Unable to produce content of specified 'Accept' media type
            # substatus codes and error messages are mentioned below:
              # framework:request:unsupported:mediatype - The server is unable to produce content of type {acceptMediaType}
            body: 
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          
          500: &500
            description: An unknown server error occurred
            # substatus codes and error messages are mentioned below:
              # framework:unknown
            body:      
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema                  
  -  postResponse:
        responses:
          406?: *406
          415?: &415
            description: Unable to consume content of specified 'Content-Type' media type
            # substatus codes and error messages are mentioned below:
              # framework:request:unsupported:mediatype - The server is unable to consume content of type {contentMediaType}
            body:      
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema   
                   
          500: *500
  -  deleteResponse:
        responses:
          404: *404
          500: *500
  -  putResponse:
        responses:
          406: *406
          409:
            description: There was a problem with the client's request
            # substatus codes and error messages are mentioned below:
            # framework:resource:conflict
            # framework:resource:conflict:id - The ID of the resource in the request, {requestedId}, does not match the ID of the given resource, {resourceId}
            # framework:resource:conflict:version - The version of the provided resource, {requestVersion}, does not match the current version of the resource, {latestVersion}
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          415: *415
          500: *500
          
/subjects:
  is: [secured]
  description: Collection endpoint for subject resources
  get:
    is: [getResponse]
    headers:
      Accept:
          description: Media type.
          example: application/vnd.com.covisint.platform.oauth.subject.v1+json
          type: string
          required: true
    queryParameters:
        id: 
          description: Retrieve subject for a supplied subject identifier.
          type: string
          required: false
    responses:
        200:
          description: The subject was successfully retrieved.
          body:
            application/vnd.com.covisint.platform.oauth.subject.v1+json:
              schema: subject
        400:
          description: There was a problem with the client's request
          # substatus codes and error messages are mentioned below:
          # framework:request
          # framework:request:io
          # framework:request:io:read
          # framework:request:io:read:parsing
          # framework:request:io:write
          # framework:request:header:missing - Missing request header: {headerName}
          # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
          body:
            application/vnd.com.covisint.error.v1+json:
              schema: errorResponseSchema
        401:
          description: Unauthorized request
          # substatus codes and error messages are mentioned below:
          # No requestor specified. 
  /{id}:
    description: The endpoint for a specific subject.
    uriParameters:
      id:
        description: The subject’s unique identifier.
        type: string
        maxLength: 64
        required: true
    is: [secured]
    get:
      is: [getResponse]
      description: Returns the subjet by its unique id.
      headers:
          Accept:
              description: Media type.
              example: application/vnd.com.covisint.platform.oauth.subject.v1+json
              type: string
              required: true
      responses:
        200:
          description: The subject was successfully retrieved.
          body:
            application/vnd.com.covisint.platform.oauth.subject.v1+json:
              schema: subject
        400:
          description: There was a problem with the client's request
          # substatus codes are mentioned below:
          # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
        401:
          description: Unauthorized request
          # substatus codes and error messages are mentioned below:
          # No requestor specified.        
    put:
      is: [putResponse]
      description: Creates or updates a subject resource.This end point will create new subject resource if it does not exist else will update the existing subject resource.
      headers:
        Content-type:
          description: Media type for subject.
          example: application/vnd.com.covisint.platform.oauth.subject.v1+json.
          type: string
          required: true
        Accept:
          description: Media type for subject.
          example: application/vnd.com.covisint.platform.oauth.subject.v1+json.
          type: string
          required: true
      body:
          application/vnd.com.covisint.platform.oauth.subject.v1+json:
            schema: subject
      responses:
          200:
            description: The subject was successfully created/updated.
            body:
              application/vnd.com.covisint.platform.oauth.subject.v1+json:
                schema: subject
                
          400:
            description: There was a problem with the client's request
            # substatus codes and error messages are mentioned below:
            # framework:request
            # framework:request:io
            # framework:request:io:read - 
            # framework:request:io:read:parsing
            # framework:request:io:write
            # framework:request:header:missing - Missing request header: {headerName}
            # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
            # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          401:
            description: Unauthorized request
            # substatus codes and error messages are mentioned below:
            # No requestor specified.
            
    delete:
      is: [deleteResponse]
      description: Deletes a subject and associated grants.
      headers:
      responses:
        204:
            description: The subject and associated grants were successfully deleted.
        400:
            description: There was a problem with the client's request
            # substatus codes are mentioned below:
            # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
        401:
            description: Unauthorized request
            # substatus codes and error messages are mentioned below:
            # No requestor specified.              
    /grants:
      is: [secured]
      get:
        is: [getResponse]
        description: Returns the grants by subject id.
        headers:
          Accept:
              description: Media type.
              type: string
              required: true
          type: 
              description: Subject grant type. Valid values allowed "client_credentials" or "certificate" based on subject grant type.
              type: string
              required: true
        responses:
          200:
            description: The grant type was successfully retrieved.
            body:
              # based on media type and type header the resource will be retrieved for a subject.
              application/vnd.com.covisint.platform.oauth.client.secret.grant.v1+json:
                schema: clientSecretGrantType
              application/vnd.com.covisint.platform.oauth.certificate.grant.v1+json:
                schema: certificateGrantType 
          400:
            description: There was a problem with the client's request
            # substatus codes are mentioned below:
            # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
            # framework:request:invalid:grant:type - Invalid grant type header value. Allowed values: client_credentials, certificate
          401:
            description: Unauthorized request
            # substatus codes and error messages are mentioned below:
            # No requestor specified.
      post:
        is: [postResponse]
        description: Creates a new subject grant.
        headers:
          Content-type:
            description: Media type for subject grant.
            type: string
            required: true
          Accept:
            description: Media type for subject grant.
            type: string
            required: true
        body:
          # based on media type the resource will be retrieved for a subject.
          application/vnd.com.covisint.platform.oauth.client.secret.grant.v1+json:
            schema: clientSecretGrantType
          application/vnd.com.covisint.platform.oauth.certificate.grant.v1+json:
            schema: certificateGrantType
        responses:
          201:
            description: A new grant was created and is returned in the body.
            body:
              # based on media type the resource will be retrieved for a subject.
              application/vnd.com.covisint.platform.oauth.client.secret.grant.v1+json:
                schema: clientSecretGrantType
              application/vnd.com.covisint.platform.oauth.certificate.grant.v1+json:
                schema: certificateGrantType
          400:
            description: There was a problem with the client's request
            # substatus codes and error messages are mentioned below:
            # framework:request
            # framework:request:io
            # framework:request:io:read - 
            # framework:request:io:read:parsing
            # framework:request:io:write
            # framework:request:header:missing - Missing request header: {headerName}
            # framework:request:param:missing - Missing request parameter: {queryParameterName}
            # framework:request:data:missing - The following information was missing from the resource: {resourceFieldName(s)}
            # framework:request:data:invalid - The following information should not be part of the resource: {resourceFieldName}
            # framework:resource:data:illegal - The following information was illegal from the resource:  {fieldSpecificError(s)}
            # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
            body:
              application/vnd.com.covisint.error.v1+json:
                schema: errorResponseSchema
          401:
            description: Unauthorized request
            # substatus codes and error messages are mentioned below:
            # No requestor specified.
      /{id}:
        description: Endpoint for a specific grant for a subject.
        uriParameters:
            id:
              description: The grant’s unique identifier.
              type: string
              maxLength: 64
              required: true          
        is: [secured]
        get:
          is: [getResponse]
          description: Returns a subject grant resource by its unique id.
          headers:
            Accept:
              description: Media type.
              type: string
              required: true
          responses:
            200:
                description: The grant for a subject was successfully retrieved.
                body:
                  # based on media type the resource will be retrieved for a subject.
                  application/vnd.com.covisint.platform.oauth.client.secret.grant.v1+json:
                    schema: clientSecretGrantType
                  application/vnd.com.covisint.platform.oauth.certificate.grant.v1+json:
                    schema: certificateGrantType
            400:
                description: There was a problem with the client's request
                # substatus codes are mentioned below:
                # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
            401:
                description: Unauthorized request
                # substatus codes and error messages are mentioned below:
                # No requestor specified.
        delete:
          is: [deleteResponse]
          description: Deletes a subject grant type.
          headers:
          responses:
              204:
                description: The grant for a subject was successfully deleted.
              400:
                description: There was a problem with the client's request
                # substatus codes are mentioned below:
                # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
              401:
                description: Unauthorized request
                # substatus codes and error messages are mentioned below:
                # No requestor specified.
/token:
  is: [secured]
  description: Collection endpoint for Legacy Token resources
  get:
    is: [getResponse]
    description: get token for a subject grant type.
    headers:
      Accept:
        description: Media type.
        example: application/vnd.com.covisint.platform.oauth.token.v1+json
        type: string
        required: true
      type:
        description: Subject grant type. Valid values allowed "client_credentials" or "certificate" based on subject grant type. .
        type: string
        required: true
      Authorization:
        description: The client credentials, if type is "client_credentials" then mandatory.
        type: string
        required: false
      clientId :
        description: The client id, if type is "certificate" then mandatory.
        type: string
        required: false
      x-client-id :
        description: The client id, if type is "certificate" then mandatory.
        type: string
        required: false
      publicKey :
        description: The public key.
        type: string
        required: false
      X-Client-Cert :
        description: The certificate string.
        type: string
        required: false
      cert :
        description: The certificate string.
        type: string
        required: false
      javax.servlet.request.X509Certificate:
        description: The X509Certificate certificate string.
        type: string
        required: false
    responses:
      200:
          description: Token for subject grant type
          body:
            application/vnd.com.covisint.platform.oauth.token.v1+json:
              schema: legacyToken
      401:
          description: Invalid request credential.
           #error messages are mentioned below:
            # No grant type information found. Allowed values: client_credentials, certificate.
            # Unable to find AbstractGrantType type.
            # Unable to find AbstractGrantType builder for class type.
            # Provided grant type information cannot be authenticated.
            # Unable to authenticate user.Error Message: No authentication client defined.
            # Unable to authenticate user.Error Message: No user information provided.
      400:
          description: There was a problem with the client's request
          # substatus codes are mentioned below:
          # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]
  post:
    is: [postResponse]
    description: get token for a subject grant type.
    headers:
      Accept:
        description: Media type.
        example: application/vnd.com.covisint.platform.oauth.token.v1+json
        type: string
        required: true
      type:
        description: Subject grant type. Valid values allowed "client_credentials" or "certificate" based on subject grant type. .
        type: string
        required: true
      Authorization:
        description: The client credentials, if type is "client_credentials" then mandatory.
        type: string
        required: false
      clientId :
        description: The client id, if type is "certificate" then mandatory.
        type: string
        required: false
      x-client-id :
        description: The client id, if type is "certificate"
        type: string
        required: false
      publicKey :
        description: The public key.
        type: string
        required: false
      X-Client-Cert :
        description: The certificate string.
        type: string
        required: false
      cert :
        description: The certificate string.
        type: string
        required: false
      javax.servlet.request.X509Certificate:
        description: The X509Certificate certificate string.
        type: string
        required: false
    body:
    responses:
      200:
          description: Token for subject grant type
          body:
            application/vnd.com.covisint.platform.oauth.token.v1+json:
              schema: legacyToken
      401:
          description: Invalid request credential.
           #error messages are mentioned below :
            # No grant type information found. Allowed values: client_credentials, certificate.
            # Unable to find AbstractGrantType type.
            # Unable to find AbstractGrantType builder for class type.
            # Provided grant type information cannot be authenticated.
            # Unable to authenticate user.Error Message: No authentication client defined.
            # Unable to authenticate user.Error Message: No user information provided.
      
      400:
          description: There was a problem with the client's request
          # substatus codes are mentioned below:
          # framework:request:invalid:header:value - Invalid x-requestor header value. Valid values are [person, application]

